* {
  margin: 0px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

:root {
  --primary-color: #199cdb;
  --secondary-color: #d0d0d0;
  --dark-color: #0e668f;
  --bg-grey: #f7f7f7;
}

.bg-grey {
  background: var(--bg-grey);
}

section > .container {
  max-width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 50px;
}

/* XÂY DỰNG BANNER */
#banner {
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.banner-img img {
  max-height: 500px;
  object-fit: cover;
  filter: brightness(0.75);
}

.banner-name {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* XÂY DỰNG NAVBAR */
#nav-bar {
  border-bottom: 1px solid var(--secondary-color);
}

#nav-bar .container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  width: 100%;
  padding: 0;
  height: 80px;
}

#nav-bar .container a {
  text-decoration: none;
  color: black;
  padding: 26px 10px;
  border-left: 1px solid var(--secondary-color);
}

#nav-bar .container i {
  color: var(--primary-color);
}

.name {
  position: relative;
  min-width: 200px;
}

.avatar {
  position: absolute;
  display: flex;
  width: 150px;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
}

.avatar img {
  border: 10px solid #fff;
  border-radius: 50%;
}

/* XÂY ĐỰNG THÔNG TIN CÁ NHÂN */
#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

#about .container .section-title {
  margin-bottom: 50px;
  margin-top: 20px;
}

#target p {
  margin: 0;
}

.mt-40 {
  margin: 0;
}

.mt-40 i {
  color: rgb(5, 199, 199);
}

.personal-info .info {
  position: relative;
}

.info-group {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
}

.close-btn:hover {
  background-color: var(--dark-color);
}

.email-input-group input {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

/* XÂY DỰNG THÔNG TIN NGHỀ NGHIỆP */
/* kinh nghiệm, học vấn và hoạt động */
#job-info {
  background-color: #fff;
  padding-bottom: 10px;
}

#job-info .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.job-item {
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 1px 5px var(--secondary-color);
  position: relative;
  cursor: pointer;
}

.job-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.job-header h1 {
  font-size: 26px;
  padding: 20px 40px;
  margin: 0;
}

.job-header i {
  padding: 20px 40px 20px 0;
  font-size: 36px;
  color: grey;
}

.work-detail {
  padding: 20px 40px;
}

.name-work {
  position: relative;
}

.name-work::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  filter: blur(1px);
}

.time-line h5 {
  font-style: italic;
  font-weight: unset;
  padding: 10px 0px;
  color: gray;
}

.recent {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
}

.work-content h5,
.hobbies-item h5 {
  line-height: 1.8;
  font-weight: unset;
  color: gray;
}

.job-item:hover {
  padding-bottom: 50px;
  transition: all 0.2s;
}

.job-footer {
  display: none;
}

.job-item:hover .job-footer {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* SỞ THÍCH */
.hobbies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 30px;
}

.hobbies-item {
  text-align: center;
}

.hobbies-item h5 {
  font-size: 12px;
}

.hobbies-item i {
  width: 50px;
  color: var(--primary-color);
  font-size: 24px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  margin-bottom: 10px;
}

/* NGÔN NGỮ và KỸ NĂNG */
.language,
.skill {
  padding: 20px 40px;
}

.rate {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0px;
  gap: 20px;
}

.rate div.active {
  height: 4px;
  background-color: var(--primary-color);
}

.rate div.non-active {
  height: 4px;
  background-color: var(--secondary-color);
}

button {
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}

button:hover {
  background-color: var(--dark-color);
}

/* CHỨNG CHỈ- GIẢI THƯỞNG */
.certificate-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px 0;
  position: relative;
}

.certificate-item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}

.certificate-name {
  text-transform: uppercase;
}

.certificate-content h5 {
  font-weight: unset;
  color: gray;
}

.vertical {
  position: absolute;
  top: 0;
  bottom: 50%;
  width: 1px;
  background-color: orange;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.line {
  grid-column: 1/-1;
  height: 1px;
  background-color: orange;
}

/* Dự ÁN */
#project .section-title {
  margin: 0;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  padding-top: 20px;
}

.project-item h4 {
  margin-bottom: 0;
}

.project-img {
  border: 1px solid var(--secondary-color);
}

.project-name {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
}

.project-name a {
  text-decoration: none;
  color: #000;
}
.project-name a:hover {
  color: var(--primary-color);
}

.project-timeline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: gray;
  font-size: 0.8em;
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
}

.project-timeline .year {
  background-color: var(--primary-color);
  color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
  line-height: 1;
}

.project-description {
  color: gray;
  font-size: 0.8em;
}

.project-description td {
  border: 1px solid var(--secondary-color);
}

.project-description td:first-child {
  width: 30%;
  padding: 10px 20px;
}

/* THÔNG TIN LIÊN HỆ */
#footer {
  background-color: #e6dede;
}
#footer .container ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#footer ul li {
  display: flex;
  align-items: center;
}

#footer ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

#footer ul li a:hover {
  color: var(--primary-color);
}

#footer ul li i {
  font-size: 30px;
  color: var(--primary-color);
}

/* Charter Project */
.back-btn {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: #fff;
  border-radius: 10px;
}

.back-btn:hover {
  background-color: var(--dark-color);
}

.charter-container {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  background-color: blue;
  gap: 20px;
  margin: 20px 50px;
  padding: 20px;
  margin-top: 70px;
}

.charter-item {
  background-color: #f0f8ff;
}

.row {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.charter-item .header {
  color: blue;
  margin: 0 10px;
  padding: 20px 0;
  border-bottom: 1px solid var(--secondary-color);
}

.charter-item .header h4 {
  line-height: 1;
}

.charter-footer {
  padding: 40px 0;
}

/* goals */
.goals .row {
  border-bottom: 1px solid var(--secondary-color);
}

.goals .row .icon {
  font-size: 30px;
  padding: 0 40px;
}

.goals .row .content {
  padding: 10px;
  flex-grow: 1;
}

.goals .row .content p,
.team .row .content p,
.primary .row .content p,
.scope .charter-content p {
  line-height: 1.2;
}

.goals .row .content,
.timeline .row .content,
.primary .row .content,
.team .row .content {
  padding: 10px;
  flex-grow: 1;
}

/* Team */
.team .row .icon,
.primary .row .icon {
  font-size: 30px;
  padding: 0 20px;
}

/* Timeline */
.timeline {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.timeline .row {
  gap: 20px;
  margin-left: 30px;
}

.timeline .row .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9e88ff;
  color: white;
}

.timeline .row .content {
  border-bottom: 2px dotted var(--primary-color);
}

.timeline .row:last-child .content {
  border-bottom: none;
}

/* Scope */
.scope .charter-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 20px;
  gap: 50px;
}

.scope .charter-content p {
  margin-bottom: 15px;
}
