@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Navbar */
  .name {
    display: none;
  }

  #nav-bar .container a:first-child {
    border-left: none;
  }

  /* thông tin cá nhân */
  #about .container {
    gap: 20px;
    padding: 10px 20px;
  }

  /* thông tin nghề nghiệp */
  #job-info .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* chứng chỉ - giải thưởng */
  .certificate-item {
    grid-template-columns: 1fr;
  }
  .certificate-img img {
    width: 340px;
    height: auto;
  }

  /* dự án */
  .project-timeline {
    flex-wrap: nowrap;
  }

  /* Charter Project */
  .charter-container {
    grid-template-columns: 1fr;
  }

  .goals {
    grid-row: 1/2;
  }
  .scope {
    grid-row: 2/3;
  }
  .team {
    grid-row: 3/4;
  }
  .primary {
    grid-row: 4/5;
  }
  .timeline {
    grid-row: 5/6;
    grid-column: unset;
  }
  .goals .row,
  .team .row,
  .primary .row,
  .timeline .row {
    flex-direction: column;
  }
  .team .row .content,
  .primary .row .content {
    align-self: flex-start;
  }
  .scope .charter-content {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .timeline .row {
    gap: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .timeline .row > * {
    align-self: flex-start;
  }
  .timeline .row .content {
    width: 100%;
  }
}
